body {
    margin : 0;
    padding:0;
}
header {
    height : 10vh;
}
.main {
    margin : 0;
    padding:0;
    height : 78vh;
}
footer {
    height : 10vh;
    background-color: black;
    color : white;
    padding-top : 25px;
}
